<section>
    <h2 class="page-title" data-bind="text: title"></h2>
 
        <div class="container-fluid" style="margin-bottom:60px;">
<div class="row-fluid">
                    
    <div class="btn-toolbar">
        <div class="form-horizontal">
           <!--  <button class="btn btn-primary" data-bind="click: addNew"><i class="icon-plus"></i> New Petowner</button> -->
            <button class="btn btn-success" data-bind="click: refresh"><i class="icon-repeat"></i> Reload</button>
                        
     
      
        </div>
    </div>
    <!-- the table we apply DataTables magic too, data populated with Knockout Foreach iterating over view model -->
      <table id="media" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Source</th>
            <th>Location</th>
            <th>Cat</th>
            <th>Vet</th>
            <th>CIV_SUSP</th>
            <th>CIV_PROB</th>
            <th>CIV_SAMP</th>
            <th>CIV_CONF</th>
          </tr>
        </thead>
        <tbody>
        <!-- ko foreach: media() -->
          <tr>
            <td><span data-bind="text: $data.Source"></span></td>
            <td><span data-bind="text: $data.Location"></span></td>
            <td><span data-bind="text: $data.Cat"></span></td>
            <td><span data-bind="text: $data.Vet"></span></td>
            <td><span data-bind="text: $data.CIV_SUSP"></span></td>
            <td><span data-bind="text: $data.CIV_PROB"></span></td>
            <td><span data-bind="text: $data.CIV_SAMP"></span></td>
            <td><span data-bind="text: $data.CIV_CONF"></span></td>
          </tr>
        <!-- /ko -->
        </tbody>
      </table>
                        
    </div>
 </div>
</section>