<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Fido Flu Finder</title>

	<!-- Bootstrap Core CSS -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="public/css/style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="public/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

</head>

<body data-spy="scroll" data-target="#mynav">

	<!-- Navigation -->
	<nav id="mynav" class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Fido Flu Finder</a>
			</div>
			<div class="pull-right social-icons">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#about">About us</a>
					</li>
					<li>
						<a href="#survey">Survey</a>
					</li>
					<li>
						<a href="#report">View Report</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>

			</div>

			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->

	</nav>

	<!-- Header -->
	<div id="intro" class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>Fido Flu Finder</h1>
						<h3>Help us build a companion animal surveillance system </h3>
						<hr class="intro-divider">
						<h4>Start survey</h4>
						<div class="page-scroll">
							<a href="#survey" class="btn btn-circle">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

	<!-- Page Content -->

	<div id="about" class="content-section-a">

		<div class="container">

			<div class="row">

				<div class="col-lg-5 col-sm-9">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">ABOUT US:<br>Fido Flu Finder</h2>
					<p class="lead">FidoFluFinder was founded by biosurveillance professionals concerned about the lack of a companion animal surveillance system, particularly in light of the current canine influenza situation.
						The current site is designed to meet the immediate need of providing easily accessible information regarding the extent of canine influenza in the U.S. We anticipate that this will expand and evolve over time. Please share your input using the form below.</p>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-3">

						<img class="img-responsive" src="public/img/dog.png" alt="">
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- /.content-section-about -->

		<div id="survey" class="content-section-b">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">Survey<br>please it takes 2 minutes to participate</h2>
						<form class="form-inline">
							<div ui-view></div>
						</form>
					</div>
				</div>
			</div>
			<!-- /.container -->

		</div>
		<!-- /.content-section-survey -->


		<div id="report" class="content-section-a" ng-controller="viewdataCtrl">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">View Data<br>actual repartition map</h2>
						<!-- place to put the code to generate data visualization map -->

						<select ng-model="filter" style="height:30px;color:black" placeholder="Select State">
							<option value="">Select your Filter</option>
							<option ng-repeat="item in choices" value="{{item}}">{{item}}</option>
						</select>
						<p></p>
						<leaflet markers="markers" center="center" height="480px" width="100%" layers="layers"></leaflet>
					</div>
				</div>
			</div>
			<!-- /.container -->

		</div>
		<!-- /.content-section-report-->


		<div id="contact" class="content-section-b">

			<div class="container">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Any suggestion? contact us</h2>
				<div class="row">

					<div class="col-lg-2">
						<img class="img-responsive" src="public/img/petowner.jpg" alt=""/>
					</div>
					<div class="col-lg-8">
						<form id="contact-form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">
											Name</label>
											<input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
										</div>
										<div class="form-group">
											<label for="email">
												Email Address</label>
												<div class="input-group">
													<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
												</span>
												<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
											</div>
											<div class="form-group">
												<label for="subject">
													Subject</label>
													<select id="subject" name="subject" class="form-control" required="required">
														<option value="na" selected="">Choose One:</option>
														<option value="service">General Customer Service</option>
														<option value="suggestions">Suggestions</option>
														<option value="product">Product Support</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="name">
														Message</label>
														<textarea name="message" id="message" class="form-control" rows="8" cols="20" required="required"
														placeholder="Message"></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
														Send Message</button>
													</div>
												</div>
											</form>

										</div> <!-- col8-->

										<div class="col-lg-2">
											<div class="widget-contact">
												<h5>Main Office</h5>

												<address>
													<strong>FIDO DLU FINDER, Inc.</strong><br>
													Tower 795 Folsom Ave, Beautiful Suite 600<br>
													San Francisco, CA 94107<br>
													<abbr title="Phone">P:</abbr> (123) 456-7890
												</address>

												<address>
													<strong>Email</strong><br>
													<a href="mailto:#">info@fidoflufinder.com</a>
												</address>	
												<address>
													<strong>We're on social networks</strong><br>
													<ul class="company-social">
														<li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
														<li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>           
														<li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
													</ul>	
												</address>					

											</div>	<!--widget-->
										</div> <!--col3-->




									</div><!--row -->
								</div> <!-- /.container -->

							</div>
							<!-- /.content-section-contact -->

							<div class="banner">

								<div class="container">

									<div class="row">
										<div class="col-lg-6">
											<h2>Help us build a companion animal surveillance system</h2>
										</div>
										<div class="col-lg-6">

										</div>
									</div>

								</div>
								<!-- /.container -->

							</div>
							<!-- /.banner -->

							<!-- Footer -->
							<footer>
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<ul class="list-inline">
												<li>
													<a href="#intro">Home</a>
												</li>
												<li class="footer-menu-divider">&sdot;</li>
												<li>
													<a href="#about">About us</a>
												</li>
												<li class="footer-menu-divider">&sdot;</li>
												<li>
													<a href="#survey">Survey</a>
												</li>
												<li class="footer-menu-divider">&sdot;</li>
												<li>
													<a href="#report">View Report</a>
												</li>
												<li class="footer-menu-divider">&sdot;</li>
												<li>
													<a href="#contact">Contact</a>
												</li>
											</ul>
											<p class="copyright text-muted small">Copyright &copy; Fido Flu Finder 2015. All Rights Reserved</p>
										</div>
									</div>
								</div>
							</footer>

							<!-- jQuery -->
							<script src="public/js/jquery.js"></script>
							<!-- Bootstrap Core JavaScript -->
							<script src="public/js/bootstrap.min.js"></script>
							<script src="public/js/jquery.easing.min.js"></script>	
							<script src="public/js/jquery.scrollTo.js"></script>
							<script src="public/js/wow.min.js"></script>
							<!-- Custom Theme JavaScript -->
							<script src="public/js/custom.js"></script>

							<script src="public/js/angular.min.js"></script>
							<script src="public/js/ui-bootstrap.min.js"></script>
							<script src="public/js/angular-ui-router.min.js"></script>
							<script src="public/js/ui-bootstrap-tpls.min.js"></script>
							<script src="public/js/module.js"></script>
							<!-- all controllers -->
							<script src="public/js/controllers/welcome.ctrl.js"></script>
							<script src="public/js/controllers/step1.ctrl.js"></script>
							<script src="public/js/controllers/shelter.ctrl.js"></script>
							<script src="public/js/controllers/petowner.ctrl.js"></script>
							<script src="public/js/controllers/viewdata.ctrl.js"></script>
							<!-- all factories -->
							<script src="public/js/places.fact.js"></script>

							<script src="public/js/app.js"></script>
							<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
							<script src="public/js/angular-leaflet-directive.min.js"></script>
							<script src="http://underscorejs.org/underscore-min.js"></script> 
							<script type="text/javascript"
							src="https://maps.googleapis.com/maps/api/js?libraries=geometry">
						</script>
						<script src="public/js/Google.js"></script>

						<!--Custom Angular JS component for survey and data visualization -->


					</body>

					</html>
