<h4>Step 2/2</h4>
<h1>Pet Owner</h1>

<div class="row">
<div class="col-lg-5 col-sm-5">
<p>Do you have a dog or cat?</p>
 <label class="radio-inline"><input type="radio" name="optradio" value="Dog" ng-model="fludata.model.petType">Dog</label>
<label class="radio-inline"><input type="radio" name="optradio" value="Cat" ng-model="fludata.model.petType">Cat</label>

  <p>Is your pet sick? </p>
  <select ng-model="fludata.model.sick" style="height:30px;color:black">
    <option >Yes</option>
    <option >No</option>
  </select>
 
  
    <p>has your pet seen a vet?</p>
    <select ng-model="fludata.model.petSeenVet" style="height:30px;color:black">
     <option value="VET">Yes</option>
     <option >No</option>
   </select>
   <p>Is canine influenza suspected?  </p>
   <select ng-model="fludata.model.canineInfluenza" style="height:30px;color:black">
    <option value="CIV_SUSP">Yes</option>
    <option >No</option>
  </select>

 <p>Were samples collected for testing? </p>
  <select ng-model="fludata.model.samplesCollected" style="height:30px;color:black">
    <option value="CIV_SAMP">Yes</option>
    <option >No</option>
  </select>

</div>
<div class="col-lg-5 col-sm-5">
 
  <p>Were samples found positive for influenza A? </p>
  <select ng-model="fludata.model.samplesPositive" style="height:30px;color:black">
    <option value="CIV_PROB">Yes</option>
    <option >No</option>
  </select> 
  <p>What other diagnosis was provided? </p>
  <textarea name="" id="" cols="30" rows="5" ng-model="fludata.model.otherDiagnosisValue" style="color:black"></textarea>
</div>

</div>
</div>
<p></p>
<button class="btn btn-lg btn-info" ng-click="goFinalStep()">Finish</button>