<p>Are you a pet owner / shelter representative?</p>
      <select ng-model="fludata.model.usertype" style="height:30px;color:black">
        <option ng-repeat="item in types" value="{{item}}">{{item}}</option>
      </select>

      <p>Please specify your location</p>

      <select ng-model="fludata.model.state" style="height:30px;color:black" placeholder="Select State">
      <option value="">Select your State</option>
        <option ng-repeat="item in states" value="{{item}}">{{item}}</option>
      </select>

      <select ng-model="fludata.model.city" style="height:30px;color:black">
      <option value="">Select your City</option>
        <option ng-repeat="item in cities" value="{{item}}">{{item}}</option>
      </select>
      <select ng-model="fludata.model.zipcode" style="height:30px;color:black">
      <option value="">Select your Zipcode</option>
        <option ng-repeat="item in zipcodes" value="{{item}}">{{item}}</option>
      </select>
<p></p>
      <button class="btn btn-lg btn-info" ng-click="goStep2()">Continue</button>